<nav class="navbar push">
	<div id="sidenav-open" class="body">
		<span onclick="openNav()">&#9776; MENU</span>
	</div>
	<div id="sidenav-menu" class="sidenav">
		<ul>
			<li class="closebtn" onclick="closeNav()">&times;</li>
			<li><a href="/">Home</a></li>
			<li><a href="https://bestsellerauthentication.azurewebsites.net/Identity/Account/Register?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dfrontend%26scope%3Dopenid%2520profile%2520bestSeller.fullaccess%2520IdentityServerApi%2520roles%2520user_data%26response_type%3Dcode%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A9184%252Fcallback%26nonce%3Djw747MCbHyjUfODVPHew-zprPvncWTrpCf4Iynm2xJE%26state%3DeyJyZXR1cm5UbyI6Ii9mYXZvcml0ZXMifQ%26code_challenge_method%3DS256%26code_challenge%3DUTsLSfjK33BL-T9XzqgFaslLXln1f7FsO9TNB4UfEKI">Register</a><li>
			{{#if user}}
			<li><a href="/logout">Logout</a></li>
			{{else}}
			<li><a href="/login">Login</a></li>
			{{/if}}		
			<li><a href="/best_sellers">Browse NYT Best Sellers</a></li>
			<li><a href="/favorites">My Favorites</a></li>
			<li><a href="/about">About</a></li>

		</ul>
	</div>
</nav>