<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Reading List App</title>
	<link rel="stylesheet" href="/assets/styles/stylesheet.css" type="text/css">
</head>

<body>
	{{>navbar}}
	{{>header}}
	<div class="content push">
		{{{body}}}
	</div>
	{{>footer}}
	<script src="/assets/scripts/index.js"></script>
</body>

</html>