<div class="form-container">
    <h2>About</h2>
    <p>This app utilizes:</p>
    <ul>
        <li><a href="https://developer.nytimes.com/docs/books-product/1/overview" target="_blank">The NYT Books API</a> to display the NYT best sellers lists.</li>
        <li><a href="https://developers.google.com/books" target="_blank">The Google Books API</a> to display book covers.</li>
        <li><a href="https://openlibrary.org/dev/docs/api/covers" target="_blank">The Open Library Covers API</a> to display book covers as a backup.</li>
    </ul>
</div>