<div class="form-container">
    <h2>With this app you can...</h2>
    <ul>
        <li><a href="/best_sellers">Browse the NYT best sellers list by category</a>
            <ul>
                <li>No user login/registration is required.</li>
                <li>Easily search by any category of interest.</li>
                <li>View the current week's rank, book cover art, book title, book author, and book details.</li>
                <li>Click on the book cover art to view the book on Amazon.</li>
            </ul>
        </li>
        <li><a href="/favorites">Keep track of your favorite NYT best sellers</a>
            <ul>
                <li><b>User login/registration is required.</b></li>
                <li>Easily add/remove books you're interested in to a personal reading list.</li>
            </ul>
        </li>
    </ul>
</div>