<div class="form-container">
    <h2>With this app you can...</h2>
    <ul>
        <li><a href="/best_sellers">Browse the NYT best sellers list by category</a>
            <ul>
                <li>No user login/registration is required.</li>
                <li>Easily search by any category of interest.</li>
                <li>View the current week's rank, book cover art, book title, book author, and book details.</li>
                <li>Click on the book cover art to view the book on Amazon.</li>
            </ul>
        </li>
        <li><a href="/my_lists">Create your own reading list(s) to keep track of your reading adventure</a>
            <ul>
                <li><b>User login/registration is required.</b></li>
                <li>Easily rearrange your list(s) by drag and drop.</li>
                <li>Search books to add to your list(s) by title or author.</li>
                <li>Store up to 100 books per list.</li>
            </ul>
        </li>
        <li>Enjoy your reading adventure!</li>
    </ul>
</div>