<div class="form-container">
    <h2>Login</h2>
    <p>Or sign up for an account by clicking <a href="/register">here</a></p>
    <div class="alert">
        <p>{{{message}}}</p>
    </div>
    <form method="post" action="/login">
        <fieldset>
            <label for="emailAddress">Email Address</label>
            <input class="user-input" type="email" id="emailAddress" name="email_address" required>
            <label for="password">Password</label>
            <input class="user-input" type="password" id="password" name="password" required>
            <input id="loginButton" type="submit" value="Login">
        </fieldset>
    </form>
</div>