<div class="form-container">
    <h2>Register</h2>
    <p>Sign up for an account:</p>
    <div class="alert">
        <p>{{{message}}}</p>
    </div>
    <form method="post" action="/register">
        <fieldset>
            <label for="firstName">First Name</label>
            <input class="user-input" type="text" id="firstName" name="first_name">
            <label for="lastName">Last Name</label>
            <input class="user-input" type="text" id="lastName" name="last_name">
            <label for="emailAddress">Email Address</label>
            <input class="user-input" type="email" id="emailAddress" name="email_address" required>
            <label for="password">Password</label>
            <input class="user-input" type="password" id="password" name="password" required>
            <input id="registerButton" type="submit" value="Register">
        </fieldset>
    </form>
</div>